<div><h1>Vote Anybody But Ford!</h1></div>
<div class="postalcode-container">
  <input id="postalcode" type="text">
  <button onclick={{action whoToVote}}>Who Should I Vote?</button>
</div>

<div>
  Vote for: {{vote}}!
</div>