<div class="form">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Anybody But Ford!</h1>
    <p>
      In this crucial <strong>Ontario Provicial Election</strong>, it's
      important to vote <strong>strategically</strong> to keep <em>Doug
      Ford</em> out of office. With just your <strong>postal code</strong>,
      we can tell you which party has the best chance of <strong>defeating
      Doug Ford</strong> and the PCs in <strong>your</strong> riding.
    </p>
  </div>

  <div class="form-label-group">
    <input type="text" id="postalcode" class="form-control" placeholder="Postal Code" required autofocus>
    <label for="postalcode">Postal Code</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" onclick={{action whoToVote}}>
    Who Should I Vote?</button>
</div>
<div id="ridinginfo" class="container hideRiding">
  <div class="row">
    <h4>In your riding of <strong>{{riding}}</strong>.</h4>
  </div>
  <div class="row">
    <h4><strong>The {{vote}}</strong> is the party with the best chance of defeating Doug Ford.*</h4>
  </div>
  <div class="row">
    <em>* All data comes from <a href="http://www.calculatedpolitics.com/project/2018-ontario/">Calculated Politics as of June 5, 2018.</a></em>
  </div>
</div>
<div class="container">
  <div class="row">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{socialMediaText}}">
      Tweet</a>
    <div class="fb-share-button" data-href="https://anybodybutford.ca" data-layout="button" data-size="small" data-mobile-iframe="true">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fanybodybutford.ca%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">Share</a>
    </div>
  </div>
</div>